p, h1, h2 {
    color: rebeccapurple;
}

a {
    color: black;
}

a:hover {
    color: red;
}

.h3_class {
    color: aquamarine;
}

.img_test {
    height: 50%;
    width: 50%;
}

html {
    background-color: #CCCCCC;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

#result {
    color: red;
}

#btn_random_done{
    background: red;
    height: 50px;
    width: 200px;
    font-size: 18px;
}

#result_random_done {
    color: blue;
    font-size: 20px;
}